@font-face {
  font-family: "NotoBold";
  src: url("../fonts/notosans-bold-webfont.eot");
  src: url("../fonts/notosans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-bold-webfont.woff2") format("woff2"), url("../fonts/notosans-bold-webfont.woff") format("woff"), url("../fonts/notosans-bold-webfont.ttf") format("truetype"), url("../fonts/notosans-bold-webfont.svg#noto_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoItalic";
  src: url("../fonts/notosans-italic-webfont.eot");
  src: url("../fonts/notosans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-italic-webfont.woff2") format("woff2"), url("../fonts/notosans-italic-webfont.woff") format("woff"), url("../fonts/notosans-italic-webfont.ttf") format("truetype"), url("../fonts/notosans-italic-webfont.svg#noto_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoRegular";
  src: url("../fonts/notosans-regular-webfont.eot");
  src: url("../fonts/notosans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-regular-webfont.woff2") format("woff2"), url("../fonts/notosans-regular-webfont.woff") format("woff"), url("../fonts/notosans-regular-webfont.ttf") format("truetype"), url("../fonts/notosans-regular-webfont.svg#noto_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoLight";
  src: url("../fonts/notosans-light-webfont.woff2") format("woff2"), url("../fonts/notosans-light-webfont.woff") format("woff"), url("../fonts/notosans-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background: url(../imgs/header.jpg);
}
.container-fluid {
  padding: 0;
}

.top-bar {
  width: 100%;
  margin: 0;
  padding: 2em 20em;
  background: #353f46;
  opacity: 0.9;
}
@media only screen and (max-width: 480px) {
  .top-bar {
    padding: 2em 3em;
    text-align: center;
  }
}

.logo {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-family: "NotoBold";
}
@media only screen and (max-width: 480px) {
  .logo {
    text-align: center;
  }
}

.blue-e {
  color: #4bcaff;
}

.logo:hover {
  text-decoration: none;
  color: #fff;
}

/* -------------- MENU -------------- */
.mob-menu {
  color: none;
  font-size: 0;
}
@media only screen and (max-width: 480px) {
  .mob-menu {
    position: absolute;
    color: #ffffff;
    display: block;
    font-size: 1.7em;
    padding: 0.3em 0;
  }
}

.top-nav {
  margin: 0.5em 0 0 0;
  padding: 0;
  float: right;
}
@media only screen and (max-width: 480px) {
  .top-nav {
    position: fixed;
    top: -1em;
    left: -25em;
    width: 85%;
    height: 100%;
    padding: 4em 0 0;
    background: #262D40;
    transition: 0.5s;
    z-index: 2;
  }
}

.top-nav-item {
  display: inline-block;
  margin: 0 0.5em;
}
@media only screen and (max-width: 480px) {
  .top-nav-item {
    display: flex;
    padding: 1em 0 0 0.5em;
  }
}

.top-nav-link {
  text-decoration: none;
  color: #fff;
  font-family: "NotoBold";
  font-size: 14px;
}
@media only screen and (max-width: 480px) {
  .top-nav-link {
    font-size: 20px;
  }
}

.top-nav-link:hover {
  color: #4bcaff;
  padding: 0.3em 1em;
  border: 0.2em solid #4bcaff;
}
@media only screen and (max-width: 480px) {
  .top-nav-link:hover {
    border: none;
    padding: 0;
  }
}

.mob-close {
  color: none;
  font-size: 0;
}
@media only screen and (max-width: 480px) {
  .mob-close {
    display: block;
    color: #fff;
    font-size: 2em;
    position: absolute;
    right: 1em;
    top: 0.8em;
  }
}

.page-header {
  padding: 15em 20em;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .page-header {
    padding: 3em 3em;
  }
}

.head-text {
  font-size: 42px;
  color: #fff;
  font-family: "NotoLight";
  background: #404a52;
  display: inline-block;
  opacity: 0.9;
}
@media only screen and (max-width: 480px) {
  .head-text {
    font-size: 20px;
  }
}

.service-section {
  background: #4bcaff;
  padding: 5em 20em;
}
@media only screen and (max-width: 480px) {
  .service-section {
    padding: 3em 3em;
  }
}

.service-title {
  color: #fff;
  margin: 0;
  font-family: "NotoLight";
  font-size: 30px;
  display: inline-block;
}

.linea {
  width: 60px;
  height: 2px;
  padding: 0;
  margin: 0.3em 0 3em;
  background: #fff;
  display: block;
}

.icon {
  color: #fff;
  margin: 0 0 1em;
}

.title {
  color: #fff;
  font-family: "NotoRegular";
  font-size: 24px;
}

.text {
  color: #fff;
  font-family: "NotoRegular";
  font-size: 12px;
}

.port-section {
  background: #fff;
  padding: 5em 20em;
}
@media only screen and (max-width: 480px) {
  .port-section {
    padding: 3em 3em;
  }
}

.port-bar {
  width: 100%;
  margin: 0;
  padding: 0;
}

.port-title {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #515f67;
  font-size: 30px;
  font-family: "NotoLight";
  display: inline-block;
}

.linea2 {
  width: 60px;
  height: 2px;
  padding: 0;
  margin: 0.3em 0 3em;
  background: #515f67;
  display: block;
}
@media only screen and (max-width: 480px) {
  .linea2 {
    margin: 0.3em 0 0.5em;
  }
}

.port-nav {
  padding: 0;
  float: right;
}
@media only screen and (max-width: 480px) {
  .port-nav {
    float: none;
    text-align: center;
  }
}

.port-nav-item {
  display: inline-block;
  margin: 0 0.5em;
}

.port-nav-link {
  text-decoration: none;
  color: #515f67;
  font-family: "NotoBold";
  font-size: 14px;
}

.port-nav-link:hover {
  color: #4bcaff;
  padding: 0.3em 1em;
  border: 0.2em solid #4bcaff;
}
@media only screen and (max-width: 480px) {
  .port-nav-link:hover {
    border: none;
    padding: 0;
  }
}

.photos {
  padding: 1.6em;
  text-align: center;
}

.img:hover {
  background: black;
  opacity: 0.9;
}

.default-section {
  background: #515f67;
  padding: 5em 20em;
}
@media only screen and (max-width: 480px) {
  .default-section {
    padding: 3em 3em;
  }
}

.default-title {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-family: "NotoLight";
  display: inline-block;
}

.default-text {
  color: #fff;
  font-family: "NotoRegular";
  font-size: 14px;
  padding-right: 7em;
  margin: 2em 0 4em;
}
@media only screen and (max-width: 480px) {
  .default-text {
    padding: 0;
    margin: 2em 0;
  }
}

.btn-visit {
  text-decoration: none;
  color: #353f47;
  padding: 0.6em 2em;
  text-align: center;
  margin: 0;
  width: 20%;
  border: 0.3em solid #353f47;
  font-size: 14px;
  font-family: "NotoBold";
}
@media only screen and (max-width: 480px) {
  .btn-visit {
    margin: 2em 0;
  }
}

.btn-visit:hover {
  color: #4bcaff;
  border: 0.3em solid #4bcaff;
}

@media only screen and (max-width: 480px) {
  .default-video {
    height: auto;
    width: auto;
  }
}
.default-video .vp-center {
  width: auto;
}

.col-video-mobile {
  padding: 3em 1em;
}

.twitter-section {
  background: #4bcaff;
  padding: 5em 20em;
}
@media only screen and (max-width: 480px) {
  .twitter-section {
    padding: 3em 3em;
  }
}

.twitter-icon {
  float: right;
}

.twitter-title {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-family: "NotoLight";
  display: inline-block;
}

.twitter-text {
  color: #fff;
  font-family: "NotoLight";
  font-size: 28px;
  padding-top: 1.5em;
}
@media only screen and (max-width: 480px) {
  .twitter-text {
    padding: 0;
    font-size: 24px;
  }
}

.twitter-link {
  color: #fff;
  font-family: "NotoRegular";
  font-size: 28px;
  text-decoration: none;
}
@media only screen and (max-width: 480px) {
  .twitter-link {
    font-size: 24px;
  }
}

.twitter-link:hover {
  color: #353f47;
}

.john-section {
  background: url(../imgs/camera.jpg);
  padding: 5em 20em;
}
@media only screen and (max-width: 480px) {
  .john-section {
    padding: 3em 3em;
  }
}

.john-title {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-family: "NotoLight";
  display: inline-block;
}

.john-text {
  color: #fff;
  font-family: "NotoRegular";
  font-size: 14px;
  padding: 2em 0 0;
}
@media only screen and (max-width: 480px) {
  .john-text {
    padding: 0;
  }
}

.john-menu {
  width: 100%;
  margin: 0;
  padding: 2em 0;
}
@media only screen and (max-width: 480px) {
  .john-menu {
    padding: 1em 0;
    text-align: center;
  }
}

.john-nav {
  margin: 0;
  padding: 0;
}

.john-nav-item {
  display: inline-block;
  margin: 0 1.5em 0 0;
}
@media only screen and (max-width: 480px) {
  .john-nav-item {
    margin: 0.3em;
  }
}

.john-nav-link {
  text-decoration: none;
  padding: 1em 1em;
  border: 0.2em solid #fff;
}

.john-nav-link:hover {
  border: 0.2em solid #4bcaff;
}

.testimonial-section {
  background: #fff;
  padding: 5em 20em;
}
@media only screen and (max-width: 480px) {
  .testimonial-section {
    padding: 3em 3em;
  }
}

.testimonial-icon {
  float: right;
}

.testimonial-title {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #515f67;
  font-size: 30px;
  font-family: "NotoLight";
  display: inline-block;
}

.testimonial-text {
  color: #515f67;
  font-family: "NotoLight";
  font-size: 28px;
  margin-bottom: revert;
  line-height: 2;
}
@media only screen and (max-width: 480px) {
  .testimonial-text {
    font-size: 24px;
    line-height: normal;
  }
}

.testimonial-quote {
  color: #4bcaff;
  font-size: 14px;
  font-family: "NotoBold";
  margin: 0;
}

.contact-section {
  background: url(../imgs/contact.jpg);
  background-size: cover;
  padding: 5em 20em;
}
@media only screen and (max-width: 480px) {
  .contact-section {
    padding: 3em 3em;
  }
}

.contact-title {
  text-decoration: none;
  padding: 0;
  color: #fff;
  font-size: 30px;
  font-family: "NotoLight";
  display: inline-block;
  margin: 0;
}

.contact-columns {
  padding-bottom: 1.5em;
}

.contact-subtitle {
  color: #fff;
  font-size: 14px;
  font-family: "NotoBold";
  margin-bottom: 0.5em;
}

.contact-text {
  color: #fff;
  font-family: "NotoRegular";
  font-size: 14px;
  padding-right: 4em;
  line-height: 1.8;
}
@media only screen and (max-width: 480px) {
  .contact-text {
    padding-right: 1em;
  }
}

.contact-text-box {
  width: 80%;
  height: 4em;
  background-color: transparent;
  border: 0.2em solid #fff;
  font-size: 14px;
  color: #fff;
  font-family: "NotoRegular";
}
@media only screen and (max-width: 480px) {
  .contact-text-box {
    width: 100%;
  }
}

.contact-message {
  resize: none;
  width: 1263px;
  background-color: transparent;
  border: 0.2em solid #fff;
  font-size: 14px;
  color: #fff;
  font-family: "NotoRegular";
}
@media only screen and (max-width: 480px) {
  .contact-message {
    width: 100%;
  }
}

.contact-button {
  width: 25em;
  height: 4.5em;
  background-color: #4bcaff;
  border: none;
  font-size: 14px;
  color: #fff;
  font-family: "NotoBold";
}
@media only screen and (max-width: 480px) {
  .contact-button {
    width: 100%;
  }
}

.footer-section {
  background: #353f47;
  padding: 5em 20em;
}
@media only screen and (max-width: 480px) {
  .footer-section {
    padding: 3em 3em;
  }
}

.footer-nav {
  padding: 0;
  float: left;
  margin-top: -0.2em;
}

.footer-nav-item {
  display: inline-block;
  margin: 0 0.5em 0 0;
}

.footer-nav-link {
  text-decoration: none;
  color: #515f67;
  font-family: "NotoRegular";
  font-size: 12px;
}

.footer-nav-link:hover {
  color: #4bcaff;
}

.copyright {
  margin: 0;
  float: right;
  color: #515f67;
  font-family: "NotoRegular";
  font-size: 14px;
}